[Unit]
Description=Clean backups for %i
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
Environment="CLEAN_TAG=%i"
ExecStart=/bin/bash %h/.local/bin/clean_backups
# vi: ft=systemd
