[submodule "config/termite/termite-colors-solarized"]
	path = config/termite/termite-colors-solarized
	url = git://github.com/alpha-omega/termite-colors-solarized.git
[submodule "templates"]
	path = templates
	url = https://github.com/twh2898/dotfiles_templates
