snippet kbd "<kbd>key</kbd> (keyboard)" i
<kbd>$1</kbd>
endsnippet

snippet ** "**bold** (bold)"
**${1:bold}**
endsnippet

snippet __ "__bold__ (bold)"
**${1:bold}**
endsnippet

snippet * "*italic* (italic)"
*${1:italic}*
endsnippet

snippet _ "_italic_ (italic)"
_${1:italic}_
endsnippet

snippet ~~ "~~strikethrough~~ (strikethrough)"
~~${1:strikethrough}~~
endsnippet

snippet code "code block" b
\`\`\`${1:language}
${2:code}
\`\`\`

endsnippet

