[Unit]
Description=Daily backup
After=network.target
OnFailure=failure-handler@%N.service
StartLimitIntervalSec=3600
StartLimitBurst=3

[Service]
Type=simple
WorkingDirectory=%h
ExecStartPre=/bin/sleep 60
ExecStart=/bin/bash %h/.local/bin/backup
Restart=on-failure
RestartSec=30

# vi: ft=systemd
