[Unit]
Description=Mail Status
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/bin/bash %h/.local/bin/mail_system_report

# vi: ft=systemd
