[Unit]
Description=Clean backups
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/bin/bash %h/.local/bin/clean_backup
# vi: ft=systemd
