- name: Check if uv is installed
  ansible.builtin.command: uv --version
  register: uv_exists
  changed_when: false
  ignore_errors: true

- name: Check if uvx is installed
  ansible.builtin.command: uvx --version
  register: uvx_exists
  changed_when: false
  ignore_errors: true

- name: Install uv via PipX
  ansible.builtin.command: pipx install uv
  when: uv_exists is failed
  args:
    creates: /home/thomas/.local/share/pipx/venvs/uv

- name: Install uvx via PipX
  ansible.builtin.command: pipx install uvx
  when: uvx_exists is failed
  args:
    creates: /home/thomas/.local/share/pipx/venvs/uvx

- name: Enable uv bash completion
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: eval "$(uv generate-shell-completion bash)"

- name: Enable uvx bash completion
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: eval "$(uvx --generate-shell-completion bash)"
