- name: Install uv via PipX
  ansible.builtin.command: pipx install uv
  args:
    creates: "{{ pipx_venv_dir }}/uv"

# uvx is installed with uv so it does not need a pipx install command

- name: Generate uv bash completion
  ansible.builtin.command: uv --generate-shell-completion bash
  register: uv_completion
  changed_when: false

- name: Generate uvx bash completion
  ansible.builtin.command: uvx --generate-shell-completion bash
  register: uvx_completion
  changed_when: false

- name: Create bash completion folder
  ansible.builtin.file:
    path: "{{ bash_completion_dir }}"
    state: directory
    recurse: true

- name: Enable uv tab completion
  ansible.builtin.copy:
    content: "{{ uv_completion.stdout }}"
    dest: "{{ bash_completion_dir }}/uv"
    mode: "0644"

- name: Enable uvx tab completion
  ansible.builtin.copy:
    content: "{{ uvx_completion.stdout }}"
    dest: "{{ bash_completion_dir }}/uvx"
    mode: "0644"
