- name: Install Poetry via PipX
  ansible.builtin.command: pipx install poetry
  args:
    creates: "{{ pipx_venv_dir }}/poetry"

- name: Poetry auto complete
  ansible.builtin.command: poetry completions bash
  register: poetry_completion
  changed_when: false

- name: Create bash completion folder
  ansible.builtin.file:
    path: "{{ bash_completion_dir }}"
    state: directory
    recurse: true

- name: Enable tab completion
  ansible.builtin.copy:
    content: "{{ poetry_completion.stdout }}"
    dest: "{{ bash_completion_dir }}/poetry"
    mode: "0644"
