name: ci

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: automas-dev/reusable-workflows/setup_python@main
        with:
          python-version: "3.11"
          poetry-version: "2.1.2"

      - name: Install Dependencies
        run: pip install yamllint

      - name: Lint
        run: yamllint -c yamllint.yml .

  increment_version:
    name: Increment Version
    uses: automas-dev/reusable-workflows/.github/workflows/increment_version.yml@main
    if: github.ref == 'refs/heads/main'
    secrets: inherit

    needs: [lint]

    permissions:
      contents: write
